@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12rem;
  @include desktop {
    padding-top: 7rem;
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1rem;
    @include tablet {
      font-size: 3.5rem;
    }
  }

  &__first {
    @include tablet {
      padding: 1rem;
      display: flex;
      align-items: center;
    }
    @include desktop {
      width: 70rem;
    }
  }

  &__bio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    text-align: center;
    padding: 1rem;
    @include desktop {
      font-size: 1.2rem;
      line-height: 2rem
    }
  }

  &__button {
    @include button;
  }

  &__image {
    display: none;
    @include tablet {
      display: initial;
      height: 30rem;
      width: 25rem;
      object-fit: cover;
      max-width: 50%;
    }
    @include desktop {
      height: initial;
    }

    &--mobile {
      width: 100%;
      height: 30rem;
      object-fit: cover; 
      object-position: 50% -20px;
      @include tablet {
        display: none;
      }
    }
  }

  &__second {
    background-color: $secondary-background;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 2rem;
    @include desktop {
      padding: 3rem;
    }
  }

  &__services {
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    @include tablet {
      font-size: 2.5rem;
    }
  }

  &__third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include desktop {
      width: 70rem;
    }
  }

  &__review {
    display: flex;
    flex-direction: column;
  }

  &__name {
    align-self: flex-end;
    font-weight: 600;
    padding: 0 1rem 1rem 0;
  }
}