@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.book {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
  }

  &__notyou {
    font-size: 0.8rem;
  }

  &__logout {
    background-color: $primary-background;
    border: none;
    color: $primary-color;
    text-decoration: underline;
    font-size: 0.8rem;
    &:hover {
      cursor: pointer;
    }
  }

  &__form {
    background-color: $secondary-background;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
  }

  &__text {
    font-size: 1.2rem;
    text-align: center;
  }

  &__input {
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: $secondary-background;
    border: none;
    &:focus {
      outline: none;
    }
  }

  &__button {
    @include button;
  }

  &__card {
    position: relative;
    background-color: $primary-color;
    color: white;
    width: 90%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
    &:hover {
      cursor: pointer;
    }
    @include tablet {
      width: 30rem;
    }

    &--filled {
      background-color: $secondary-background;
    }

    &__time {
      font-size: 2rem;
      font-weight: 800;
    }

    &__text {
      font-size: 1.4rem;
    }

    &__client {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid $secondary-color;
      margin-top: 1rem;
      padding-top: 1rem;
    }

    &__icon {
      height: 1rem;
      position: absolute;
      right: 1rem;
    }
  }

  &__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__heading {
      font-size: 2rem;
      font-weight: 300;
      padding-bottom: 1rem;
    }

    &__section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 1rem;
    }

    &__info {
      font-weight: 600;
      font-size: 1.2rem
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    &__select {
      background-color: $primary-color;
      border: none;
      margin-bottom: 1rem;
      color: white;
      font-weight: 600;
      padding: 0.5rem;
      &:focus {
        outline: none;
      }
    }

    &__textarea {
      resize: none;
      width: 100%;
      background-color: $primary-color;
      height: 8rem;
      border: 1px solid $secondary-color;
      color: white;
      padding: 0.5rem;
      &:focus {
        outline: none;
      }
    }

    &__button {
      @include button;

      &--cancel {
        background-color: rgba(255, 0, 0, 0.2);
      }
    }
  }
}