@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.faq {
  padding-top: 13rem;
  @include desktop {
    padding-top: 7rem;
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1rem;
    @include tablet {
      font-size: 3.5rem;
    }
  }

  &__card {
    padding: 1rem;
    @include desktop {
      padding: 0 0 2rem;
      width: 60rem;
      margin: 0 auto;  
    }
  }

  &__question {
    font-size: 1.5rem;
    font-weight: 200;
    padding-bottom: 1rem;
    @include tablet {
      font-size: 2rem;
    }
  }

  &__answer {
    line-height: 1.5rem;
    @include tablet {
      padding-left: 3rem;
    }
  }

  &__list {
    padding-left: 2rem;
    @include tablet {
      padding-left: 6rem;
    }
  }
}