@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.faq {
  padding-top: 7rem;

  &__heading {
    font-size: 3.5rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__card {
    width: 60rem;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

  &__question {
    font-size: 2rem;
    font-weight: 200;
    padding-bottom: 1rem;
  }

  &__answer {
    padding-left: 3rem;
    line-height: 1.5rem;
  }

  &__list {
    padding-left: 6rem;
  }
}