@use './partials/resets' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;

.App {
  background-color: $primary-background;
  min-height: 100vh;
  color: $primary-color;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  box-shadow: 0 3px 6px rgb(0, 0, 0, 0.2);
  background-color: $primary-background;

  &__line {
    position: absolute;
    top: 7rem;
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
  }

  &__logo {
    background-color: $primary-background;
    padding: 0 1rem;
  }

  &__heading {
    font-size: 7rem;
    font-weight: 100;
    letter-spacing: -0.7rem;
    text-align: center;
    line-height: 6rem;
  }

  &__subheading {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1rem;
  }

  &__nav {
    width: 75%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    &__link {
      color: $primary-color;
      text-decoration: none;
      width: 18%;
      text-align: center;
      padding: 0.5rem;
      font-weight: 600;
      &:hover {
        border-bottom: 2px solid $primary-color;
      }
    }
  }
}

.active {
  border-bottom: 2px solid $primary-color;
}

.footer {
  background-color: $footer-background;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  &__heading {
    font-size: 4rem;
    font-weight: 200;
  }

  &__subheading {
    font-size: 2.5rem;
    font-weight: 200;
    padding: 1rem;
  }

  &__form {
    padding: 1rem;
  }

  &__input {
    background-color: $footer-background;
    border: none;
    padding: 0.5rem;
    border-bottom: 2px solid $secondary-background;
    color: white;
    width: 25rem;
    &:focus {
      outline: none;
    }
  }

  &__button {
    background-color: $secondary-background;
    border: none;
    padding: 0.5rem;
    margin-left: 2rem;
    color: white;
    width: 15rem;
    box-shadow: 3px 3px 6px rgb(0, 0, 0, 0.2);
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }

  &__text {
    font-size: 1.5rem;
    font-weight: 200;
    padding: 1rem;
  }

  &__instagram {
    display: flex;
    justify-content: center;
    color: $primary-color;
    padding: 1rem;
    text-decoration: none;

    &__icon {
      height: 2rem;
    }

    &__handle {
      padding-left: 1rem;
      font-size: 1.5rem;
    }
  }
}