@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.home {
  padding-top: 4rem;
  @include tablet {
    padding-top: 3rem;
  }

  &__hero {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 0px;
    display: block;
    @include tablet {
      object-position: 0 -150px;
    }
    @include desktop {
      object-position: 50% 30%;
    }
  }
}