@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 2rem;
  padding-top: 13rem;

  @include desktop {
    padding-top: 7rem;
    width: 60rem;
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
    @include tablet {
      font-size: 3.5rem;
      margin-bottom: 1rem;
    }
  }
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid $primary-color;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    padding: 1rem 2rem;
  }

  &--last {
    border: none;
    padding: 0;
    @include tablet {
      padding: 1rem 0;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 200;
    @include tablet {
      font-size: 2rem;
    }

    &--last {
      padding: 1rem;
      text-align: center;
    }
  }
  
  &__bio {
    @include tablet {
      width: 70%;
    }
  }

  &__expect {
    padding: 1rem 0;
    font-size: 1.2rem;
  }

  &__faq {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    color: $primary-color;
  }

  &__image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: 0 20%;
    margin-top: 1rem;
    @include tablet {
      width: 30rem;
      height: 20rem;  
      margin-right: 3rem;
      margin-top: 0;
    }
  }
}
