@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60rem;
  margin: 0 auto;
  padding-top: 7rem;

  &__heading {
    font-size: 3.5rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid $primary-color;

  &--last {
    border: none;
    padding: 1rem 0;
  }

  &__title {
    font-size: 2rem;
    font-weight: 200;

    &--last {
      padding: 1rem;
      text-align: center;
    }
  }
  
  &__bio {
    width: 70%;
  }

  &__expect {
    padding: 1rem 0;
    font-size: 1.2rem;
  }

  &__faq {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    color: $primary-color;
  }

  &__image {
    width: 30rem;
    height: 20rem;
    object-fit: cover;
    object-position: 0 -75px;
    margin-right: 3rem;
  }
}
