@use '../../partials/variables' as *;

.contact {
  padding-top: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__first {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: 300;
  }

  &__text {
    font-size: 1.5rem;
    font-weight: 300;
  }

  &__button {
    background-color: $secondary-background;
    border: none;
    padding: 0.5rem;
    color: white;
    width: 15rem;
    box-shadow: 3px 3px 6px rgb(0, 0, 0, 0.2);
    margin: 1rem;
    text-align: center;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }    
    &--brown {
      background-color: $primary-color;
      letter-spacing: 0.3rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-background;
    width: 100%;
    padding: 3rem;
  }

  &__input {
    background-color: $secondary-background;
    border: none;
    padding: 0.5rem;
    border-bottom: 1px solid $secondary-color;
    color: white;
    width: 25rem;
    margin: 0.5rem;
    &:focus {
      outline: none;
    }

    &--textarea {
      resize: none;
      height: 6rem;
    }
  }
}