@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12rem;
  @include desktop {
    padding-top: 7rem;
  }

  &__first {
    display: flex;
    align-items: center;
    @include tablet {
      padding: 1rem;
    }
    @include desktop {
      width: 60rem;
    }
  }

  &__bio {
    @include tablet {
      padding: 2rem;
      margin-right: 2rem;
    }
    @include desktop {
      width: 50%;
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
    padding: 1rem 1rem 0;
    @include tablet {
      padding: 0;
      font-size: 3.5rem;
      margin-bottom: 3rem;
    }
  }

  &__text {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    padding: 1rem;
    @include tablet {
      padding: 0;
    }
    @include desktop {
      font-size: 1.2rem;
      line-height: 2rem;
      margin-bottom: 3rem;
    }
  }

  &__image {
    display: none;
    @include tablet {
      display: initial;
      height: 25rem;
      min-width: 25rem;
      object-fit: cover;
    }

    &--mobile {
      width: 100%;
      height: 20rem;
      object-fit: cover; 
      object-position: center;
      @include tablet {
        display: none;
      }
    }
  }

  &__button {
    @include button;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-background;
    width: 100%;
    padding: 1rem;
  }

  &__input {
    @include input;

    &--textarea {
      resize: none;
      height: 6rem;
    }
  }
}