@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;

  &__heading {
    font-size: 2.5rem;
    font-weight: 200;
    padding: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: $secondary-background;
  }

  &__input {
    @include input;
  }

  &__button {
    @include button;
  }

  &__login {
    color: $secondary-color;
  }
}

.login {
  padding-top: 16.8rem;

  &__input {
    color: black;
    &::placeholder {
      color: black;
    }
  }
}