@use './variables' as *;

// Breakpoints
@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
      @content;
  } 
}
@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
      @content;
  }
}

@mixin button {
  background-color: $secondary-background;
  border: none;
  padding: 0.5rem;
  color: white;
  width: 15rem;
  box-shadow: 3px 3px 6px rgb(0, 0, 0, 0.2);
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }    
  &--brown {
    background-color: $primary-color;
    letter-spacing: 0.3rem;
  } 
}